.item a {
  color: black;
}

a.active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 3px solid rgb(84, 200, 255);
  background: aliceblue;
  padding: 5px;
}

.content {
  width: 100%;

}

.trim {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
