.ui.secondary.pointing.menu .active.item {
  background-color: rgb(237, 237, 237);
  box-shadow: none;
  border-color: rgb(84, 200, 255);
  font-weight: bold;
  color: rgb(84, 200, 255);
}

.ui.secondary.pointing.menu {
  border-bottom: 2px solid rgba(34, 36, 38, 0.15);
  align-items: center;
}

i.icon, i.icons {
  font-size: 5em;
  display: table-footer-group;
  color: rgb(33, 133, 208);
}

.email {
  font-size: 4rem !important;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  i.icon, i.icons {
    font-size: 3em !important;
  }

  .email {
    font-size: 2rem !important;
    margin: 0;
    padding: 0;
  }
}
